<div class="jumbotron">
 
    
    
     <h1> Welcome to Web Api </h1>
    <h2> For start to our application </h2>
     <h2> Please add to "/swagger" in url line or click to Button </h2>
    
    <button onclick="window.location.href = 'http://localhost:1264/swagger/ui/index'"> For Start to swagger </button>
    
</div>
